// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
    padding: 0 !important;
}

.post {
    margin: 0;
    padding: 0 !important;
    border: none !important;
}

.post-header {
    padding: 5px;
}

.post-posted {
    margin-left: 30px;
}

.post-date {
}

.post-pict {
    padding: 0 !important;
}

.pict {
    width:100%;
    text-align:center;
    overflow: auto;
}

.pict img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

.post-action {
}

#new-post {
    padding: 0;
    div {
        padding: 0;
        form {
            padding: 20px 10px 40px 10px;
        }
    }
}
