// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url("/assets/top-jumbo.jpg");
  background-size: cover;
  background-position: center 60%;
  color: #FFF;
  margin-bottom: 0;
}

.login-form-box {
    margin-top: 2rem;
}

.login-form {
    padding: 0 !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
