<div class="row">
  <%= @user.name %>
  <%= link_to "Edit Profile", "/" %>
</div>

<div class="row">
  Posts: <%= @user.posts.count %>
</div>
<div class="row">
  Follower: ---
</div>
<div class="row">
  Following: ---
</div>
<div class="row">
  <%= link_to "Log Out", logout_path, method: :delete %>
</div>
<hr>
