<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="nav-link" href="#"><i class="fas fa-home"></i></a>
  <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
  <a class="nav-link" href="#"><i class="fas fa-plus-square"></i></a>
  <a class="nav-link" href="#"><i class="far fa-bell"></i></a>
  <a class="nav-link" href="#"><i class="far fa-user"></i></a>
</nav>
